/*	################################################################

	File Name: style.css
	Template Name: Jollyness
	Created By: Filiz KILIÇ
	http://themeforest.net/user/jollythemes
	
	1) IMPORT FILES
	2) SKELETON
	3) HEADER SECTIONS
	4) FOOTER SECTIONS
	5) SIDEBARS AND WIDGETS
	6) SLIDESHOW STYLES
	7) SHOP STYLES
	8) PORTFOLIO STYLES
	9) BLOG / PAGE STYLES
	10) SERVICES STYLES
	11) CSS3 ANIMATION EFFECTS
	12) BUTTONS MODULES
	13) RESPONSIVENESS
	
################################################################# */ 

/*	################################################################
	1. IMPORT FILES
################################################################# */

@import url(css/fhmm.css) screen;
@import url(css/bbpress.css) screen;
@import url(css/simister.css) screen;
@import url(css/flexslider.css) screen;
@import url(css/prettyPhoto.css) screen;
@import url(http://fonts.googleapis.com/css?family=Nothing+You+Could+Do);

@font-face {
    font-family: 'NovecentowideLightBold';
    src: url('fonts/Novecentowide-DemiBold-webfont.eot');
    src: url('fonts/Novecentowide-DemiBold-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('fonts/Novecentowide-DemiBold-webfont.woff') format('woff'),
         url('fonts/Novecentowide-DemiBold-webfont.ttf') format('truetype'),
         url('fonts/Novecentowide-DemiBold-webfont.svg#NovecentowideLightBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NovecentowideBookBold';
    src: url('fonts/Novecentowide-Bold-webfont.eot');
    src: url('fonts/Novecentowide-Bold-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('fonts/Novecentowide-Bold-webfont.woff') format('woff'),
         url('fonts/Novecentowide-Bold-webfont.ttf') format('truetype'),
         url('fonts/Novecentowide-Bold-webfont.svg#NovecentowideBookBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*	################################################################
	2. SKELETON
################################################################# */

	* { 
		margin: 0;
		padding: 0;
	} 
	body {
		font-family: 'Raleway', Arial, Helvetica, sans-serif;
		font-size:14px;
		line-height:1.8;
		font-weight:400;
		position:relative;
		color:#546066;
		padding:0;
		margin:0;
		overflow-x: hidden;
		background:#ffffff;
	}
	html, body {
		height: 100%;
		width: 100%;
	}
	img {
		height: auto;
		max-width: 100%;
	}
	.hidden { display: none; }
	.alignleft { float: left; }
	.alignright { float: right; }
	.aligncenter {
		margin-left: auto;
		margin-right: auto;
		display: block;
		clear: both;
	}
	.clear {
		clear: both;
		display: block;
		font-size: 0;
		height: 0;
		line-height: 0;
		width:100%;
	}
	::-moz-selection  {
		color: #fff;
		text-shadow:none;
		background:#2B2E31;
	}
	::selection {
		color: #fff;
		text-shadow:none;
		background:#2B2E31;
	}
	*,
	*:after,
	*:before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}
	a.readmore {
		text-transform:none;
		display: block;
		font-family: 'Droid Serif', Georgia, "Times New Roman", serif !important;
		font-size:11px;
		font-style:italic;
	}
	a.remove{
		display:block;
		height:18px;
		width:18px;
		margin:10px;
		padding-left:0 !important;
		text-indent:-9999px;
		background:url(images/remove.png) #aaa;
		border-radius:100px;
		border-style:solid;
		border-width:1px
	}
	.social li a,
	a { 
		padding: 0;
		margin: 0;
		text-decoration: none; 
		-webkit-transition: background-color .2s linear, color .2s linear;
		-moz-transition: background-color .2s linear, color .2s linear;
		-o-transition: background-color .2s linear, color .2s linear;
		-ms-transition: background-color .2s linear, color .2s linear;
		transition: background-color .2s linear, color .2s linear;
	}
	a:hover,
	a:focus {
	  text-decoration: none;
	  color:#01090C;
	}
	a img { 
		border: none; 
		vertical-align: bottom;
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: 'Helvetica Neue', Helvetica, sans-serif;
		font-weight: 600;
		color:#292723;
		margin-bottom: 15px;
		text-rendering: optimizeLegibility;
	}
	h1 {font-size: 30px; margin-top:0;}
	h2 {font-size: 22px; margin-top:0;}
	h3 {font-size: 20px; margin-top:0;}
	h4 {font-size: 18px;}
	h5 {font-size: 16px;}
	h6 {font-size: 14px;}
	p,
	pre,
	ul,
	ol,
	dl,
	dd,
	blockquote,
	address,
	table,
	fieldset,
	form
	{ margin-bottom: 20px; }
	a img {
		border: none; 
	}
	ul,
	ol,
	dl { margin-left: 30px; }
	ul,
	ol,
	dl {
	  margin-bottom: 1.25em;
	  font-family: inherit;
	}
	ul, ol {
	  margin-left: 0;
	}
	ul.no-bullet, ol.no-bullet {
    	margin-left: 0;
	}
	ul li ul,
	ul li ol {
	  margin-left: 1.25em;
	  margin-bottom: 0;
	}
	ol li ul,
	ol li ol {
	  margin-left: 1.25em;
	  margin-bottom: 0;
	}
	dl dt {
	  margin-bottom: 0.3em;
	  font-weight: bold;
	}
	dl dd {
	  margin-bottom: 0.75em;
	}
	.lead {
		font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif !important;
		font-size: 18px;
		font-style: italic;	
		color:#9ca5ab;
		font-weight:300;
		margin: 15px 0;
		padding: 0;
	}
	section::before,
	section::after {
		position: absolute;
		content: '';
		pointer-post-wraps: none;
	}	
	.first {clear:both}
	.last{margin-right:0}
	
	audio,
	video {
		max-width: 100%;
		height: auto;
	}
	#soundcloud {
		margin-bottom:-5px !important;
	}
	iframe,
	embed,
	object {
		max-width: 100%;
	}
	mark {
		margin:0 2px;
	}
	.whitewrapper.greybg {
		background-color:#f6f6f6;
	}
	.darkbg {
		background-color:#000000;
	}
	.whitewrapper {
		background-color: #FFFFFF;
		padding: 60px 0;
	}
	.darkwrapper {
		background-color: #030407;
		padding: 60px 0;
	}
	.bordertop {
		border-top:1px solid #e6e9ea;
	}
	.parallax {
		background-attachment: fixed !important;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.overlay {
		background: url(images/gridtile.png) repeat rgba(0,0,0,0.4);
		padding: 30px 0;
	}
	.nopadding {
		padding:60px 0 0 !important;
	}
	.paddingtop {
		padding:60px 0;
	}
	.portfoliopadding {
		padding:30px 0;
	}
	.title h1 {
		font-size:30px;
	}
	.darkwrapper .servicesbox .serviceicon {
		border-color:#ffffff;
	}
	.panel-title a.accordion-toggle {
		width:100%;
		display:block;
		position:relative;
	}
	.testimonial_details:hover i,
	.pager li > a, .pager li > span,
	.testimonial_details:hover a,
	.testimonial_details:hover span,
	.testimonial_details:hover,
	mark,
	.service-icon .serviceicon:hover i,
	.footer1 i,
	.overlay h3,
	.overlay h1,
	.footer1 h1,
	.footer1 h2,
	.footer1 h3,
	.darkwrapper h2,
	.darkwrapper h3,
	.overlay .servicesbox .title h3,
	.darkwrapper h1 {
		color:#ffffff;
	}
	.darkwrapper .servicesbox .title h3 {
		line-height: 20px;
	}
	.whitewrapper .center-title h1 {
		color:#292723;
	}
	.center-title h1 {
		font-size:36px;
		line-height:36px;
		font-weight:400;
		font-family: 'NovecentowideBookBold', cursive;
		color:#ffffff;
		text-decoration:none;
		padding:10px;
		border-width:0px;
		border-style:none;
	}
	.title1 hr {
		border-top: 1px solid #d4d4d4;
		position: relative;
		margin:0;
		
	}    
	.title1 hr:after {
		position: absolute;
		left: 0;
		right: 80%;
		top: -1px;
		border-top: 1px solid #f2f2f2;
		content: '';
	}
	.bigtitle {
		padding:20px 0px;
		overflow:hidden;
	}
	.bigtitle h1 {
		border-bottom: 1px solid #D4D4D4;
		font-family: 'NovecentowideBookBold','Helvetica Neue',Helvetica,sans-serif;
		font-size: 51px;
		font-weight: normal;
		padding-bottom: 30px;
		position: relative;
	}
	.bigtitle p {
		color: #292723;
	   font-size: 21px;
		font-weight: 300;
		line-height: 1.6;
		overflow: hidden;
		padding: 0 0 0 50px;
		position: relative;
	}
	.bigtitle h1 {
		float: left;
		margin-right: 3%;
		width: 35%;
	}	
	.bigtitle h1:after {
		border-bottom: 1px solid #F0454D;
		bottom: -1px;
		content: "";
		height: 0;
		left: 0;
		position: absolute;
		width: 25%;
	}
	.title hr {
		border-top: 1px solid #d4d4d4;
		position: relative;
		max-width:235px;
		margin:0 auto;
	}    
	.title hr:after {
		position: absolute;
		left: 30%;
		right: 30%;
		top: -1px;
		border-top: 1px solid #f2f2f2;
		content: '';
	}
	.whitewrapper .title hr {
		border-color:#d4d4d4;
	}
	.image-wrap {
		padding:20px 0;
	}
	.firstcol,
	.secondcol {
		padding:20px 0;
		overflow:hidden;
		position:relative;
		display:block;
	}

/*	################################################################
	3. HEADER SECTIONS 

	NOTE: Please visit seperate 
	pages for different header styles. For example open 
	header1.html and see which functions we used.
################################################################# */

	.topbar {
		border-bottom:1px solid #f2f2f2;
		min-height: 40px;
		font-size:12px;
		padding: 0;
	}
	.topbar ul {
		margin-bottom:0 !important;
	}
	.callus {float:right;}
	.social {float:left;}
	.social,
	.callus {
		 line-height: 40px;
	}
	.callus p {
		margin: 0;
		padding: 0;
	}
	.social li {
		float:left;
		width:40px;
		height: 40px;
		line-height: 40px;
		text-align:center;
		list-style:none;
		border-left:1px solid #f2f2f2;
		display: inline-block;
		margin: 0;
		position: relative;
		padding:0;
	}
	.callus li:last-child,
	.social li:last-child {
		border-right:1px solid #f2f2f2;
	}
	.social li a {
		font-size:14px
	}
	.callus li {
		list-style:none;
		border-left:1px solid #f2f2f2;
		float:left;
		text-align:center;
		padding:0 10px;
		height: 40px;
		line-height: 40px;
		text-align:center;
		list-style:none;
		display: inline-block;
		margin: 0;
		position: relative;
	}
	.header {
		background:#ffffff;
		position:relative;
		display:block;
		min-height:108px;
		border-bottom:1px solid #f2f2f2;
	}
	.logo {
		float: left;
		line-height:75px;
		margin: 0;
		padding: 0;
		text-shadow: none;
	}
	.searchicon {
		color: #237DAC;
		z-index: 90;
		float:right;
	}
	#dmsearch {
		float: right !important;
		height: 27px;
		right:0;
		position:absolute;
		margin: 8px 0 0 0 ;
		padding: 0;
	}
	.searchicon:before {
		content: "\f002";
		border-left:1px solid rgba(255, 255, 255, 0.2);
		background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
		color: #111;
		display: block;
		font-family: 'FontAwesome';
		font-size: 13px;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		height: 27px;
		line-height: 27px;
		text-transform: none;
		width: 27px;
	}
	.dmsearch {
		width: 27px;
		z-index: 10;
	}
	.dm-search-container {
		position: absolute;
		right: 0;
		height: 27px;
		width: 0;
		overflow: hidden;
		-webkit-transition: width 200ms;
		-moz-transition: width 200ms;
		transition: width 200ms;
	}
	.dmsearch.dmsearch-open .dm-search-container {
		width: 210px;
	}
	.searchicon,
	input[type="submit"].dmsearch-submit  {
		width: 27px;
		height: 27px;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		line-height: 27px;
		text-align: center;
		cursor: pointer;
	}
	.searchicon {
		z-index: 90;
	}
	.dmsearch.dmsearch-open .searchicon{
		z-index: 1;
		pointer-events: none;
	}
	input[type="submit"].dmsearch-submit {
		background: transparent;
		color: transparent;
		box-shadow: none;
		border: none;
		padding: 0;
		border-radius: 0;
		outline: none;
		z-index: -1;
	}
	.dmsearch.dmsearch-open input[type="submit"].dmsearch-submit {
		z-index: 90;
	}
	input[type="text"].dmsearch-input {
		border: none;
		outline: none;
		opacity: 0;
		background: #ffffff;
		border:1px solid #f2f2f2;
		width: 210px;
		height: 27px;
		margin: 0;
		padding: 2px 7px;
	}
	.dmsearch.dmsearch-open input[type="text"].dmsearch-input {
		opacity: 1;
	}
	::-webkit-input-placeholder {
		color: #aaaaaa;
	}
	:-moz-placeholder {
		color: #aaaaaa;
	}
	::-moz-placeholder {
		color: #aaaaaa;
	}
	:-ms-input-placeholder {
		color: #aaaaaa;
	}
	.nav .open > a,
	.nav .open > a:hover,
	.nav .open > a:focus,
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus,
	.navbar-nav > li > a:focus,
	.navbar-nav > li > a:hover {
		border-top-color: #e6e6e6;
	}
	.post_meta a,
	.portfolio-filter a,
	.twitter-widget ul li a:hover,
	.social a,
	.topbar p {
		color:#9ca5ab;
	}
		
/*	################################################################
	4. FOOTER SECTIONS 

	NOTE: Please visit seperate 
	pages for different footer styles. For example open 
	footer1.html and see which functions we used.
################################################################# */

	.footer1 {
		background-color:#272727;
		padding: 60px 0 15px;
		border-top:3px solid #353a3e;
		color:#83939C;
		-moz-box-shadow: inset 0 0 5px 5px #353a3e;
		-webkit-box-shadow: inset 0 0 5px 5px#353a3e;
		box-shadow: inset 0 0 5px 5px #353a3e;
	}
	
	.footer1 .form-control {
		background-color:#363636;
		border-color:#222222;	
	}
		
	.footer1 .title h3 {
		font-weight:bold;
		padding:10px 0;
		font-size:18px;
		text-transform:uppercase;
	}
	
	.copyright1 {
		background-color:#ffffff;
		min-height: 40px;
		border-bottom:1px solid #f2f2f2;
		color:#292723;
		padding:30px 0 10px;
		font-weight:400;
	}
	.footer-social li {
		-webkit-border-radius: 500px;
		-moz-border-radius: 500px;
		border-radius: 500px;
		color: #292723;
		border:1px solid #888;
		display:inline-block;
		font-size: 15px;
		height: 40px;
		line-height: 40px;
		margin: 30px 5px 5px;
		position: relative;
		text-align: center;
		width: 40px;
		z-index: 5;
	}
	.footer-social li:hover a,
	.footer-social li:hover i {
		color:#ffffff;
	}
	
	.product_title a,
	.portfolio-wrap .title1 a,
	.miniboxes strong,
	.blog_wrap .title h3 a,
	.post_meta i,
	.copyright1 a {
		color:#292723;
		font-weight:400;
	}
	.footerlogo {
		padding:10px 0;
	}
	.footer-menu ul{
		list-style:none;
		list-style-position:outside;
		float:right;
		display:inline;
		margin:5px;
	}   
	.footer-menu li{ 
		line-height:12px;
		float:left;
		padding:0 7px; 
	}

/*	################################################################
	5. SIDEBARS AND WIDGETS
################################################################# */

	.tabbable .title {
		margin:0 0 5px;
	}
	.about_widget img {
		padding-right:15px;
	}
	.tabbable .about_skills {
		margin:0;
	}
	.about_tabbed,
	.about_skills  {
		margin:40px 0
	}
	.tab-content {
		border-left:1px solid #efefef;
		border-bottom:1px solid #efefef;
		border-right:1px solid #efefef;
	}
	.nav-tabs > li > a {
		border: 1px solid #EFEFEF;
		line-height: 1.42857;
		margin-right: 0;
	}
	.nav-stacked li:last-child {
		border-bottom:0 solid #efefef !important;
	}
	.nav-stacked > li > a {
		color:#83939C;
		border:0 solid #efefef !important;
	}
	.nav-stacked li {
		border-top:0 solid #efefef !important;
		border-left:0 solid #efefef !important;
		border-bottom:1px solid #efefef !important;
		border-right:0 solid #efefef !important;
	}
	.panel-title:after {
		content: "\f078";
		color: #292723;
		float:right;
		display: block;
		font-family: 'FontAwesome';
		font-size: 13px;
		margin-top:-20px;
		  pointer-events: none;
		position:relative;
		line-height: 20px;
		text-transform: none;
	}
	.panel-body .title h3 {
		font-size: 16px;
		margin: 10px 0 20px;
	}
	.panel-body .form-control {
		margin-bottom:0;
	}
	.panel-group .panel-heading + .panel-collapse .panel-body,
	.panel-default {
	   border: 0 solid #FFFFFF !important;
		box-shadow: 0 0 #FFFFFF;
		background: none;
	}
	.panel-default > .panel-heading {
		background-color: #FFFFFF;
		padding:16px;
		border: 1px solid #A9A9A9;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	.panel-default > .panel-heading a {
		font-size:18px;
		color:#292723;
	}
	.about_skills .progress {
		height:5px !important;
		background-color:#dfe5e9;
	}
	.about_skills h4 {
		font-size:13px;
		font-weight:normal;
		color:#9ca5ab;
	}
	.newsletter_widget {
		background:#ffffff;
		border:1px solid #efefef;
		padding:30px;
		margin-top:30px;
	}
	.newsletter_widget h2{
		text-transform:uppercase;
		font-size:24px;
	}
	.shopstyle1 img {
		width:100%;
	}
	.popular_items img {
		width:105px;
		padding-right:10px;
		float:left;
	}
	.popular_items {
		margin:20px 0;
	}
	.popular_items .popular_items_div {
		display: block;
		margin-top: 20px;
		overflow: hidden;
		position: relative;
	}
	.popular_items .popular_items_div  h4{
		margin-bottom:5px !important;
	}
	#contact1 .form-control {
		margin-bottom:25px;
	}
	.contact-widget {
		background-image:url(images/footermap.png);
	    background-size: 100%;
		background-position: top center;
		background-repeat:no-repeat;
	 }
	 .cart_list li,
	.contact-widget ul li {
		list-style:none;
		padding-bottom:10px;
		margin-bottom:10px;
	}
	.contact-widget .social {
		padding-top:10px;
		border-top:1px solid #3a3a3a !important;
	}
	.contact-widget .social li:last-child {
		border-right:0 solid #fff;
	}
	.contact-widget .social li {
		border-left: 0 solid #F2F2F2;
		height: 35px;
		line-height: 35px;
		width: 35px;
	}
	.contact-widget i {
		font-size:15px;
		padding-right:5px;
	} 
	.twitter-widget ul li {
		display:inline-block;
		list-style:none;
	}
	.twitter-widget ul li:before {
		-webkit-border-radius: 500px;
		-moz-border-radius: 500px;
		border-radius: 500px;
		color: #ffffff;
		border:1px solid #888;
		float: left;
		font-size: 12px;
		height: 35px;
		line-height: 35px;
		margin: 5px 10px 5px 0;
		position: relative;
		text-align: center;
		width: 35px;
		z-index: 5;
		font-family: 'FontAwesome';
		speak: none;
		content: "\f099";
		-webkit-font-smoothing: antialiased;
	}
	.tagcloud a { 
		float: left; 
		display: block; 
		margin-bottom: 6px; 
		margin-right: 6px; 
		padding: 5px 10px; 
		color: #83939C !important; 
		text-decoration: none; 
		border:1px solid #f2f2f2;
		box-shadow:none !important;
	}
	
	.tagcloud a:hover {
		background: #232527;
		border:1px solid inherit;
		color: #fff !important; 
		text-decoration: none; 
	}
	.widget {
		padding-bottom:20px;
		margin-bottom:20px;
	}
	.widget .title h3 {
		font-size:18px;
	}
	#search_form:after {
		color: #d9d9d9;
		font-size: 12px;
		height: 35px;
		line-height: 35px;
		position: absolute;
		width: 35px;
		right:0;
		top:0;
		font-family: 'FontAwesome';
		content: "\f002";
	}
	#sidebar .tabbable {
		margin-top:20px;
	}
	.recent_posts li {
		list-style:none;
		margin-bottom:20px;
	}	
	.recent_posts li:last-child {
		margin-bottom:0;
	}
	.recent_posts > li img {
		width: 50px;
	}	
	.recent_posts img {
		margin: 0 10px 0 0;
	}	
	.tabbable .valign h4 {
		color:#83939C;
		font-size: 14px !important;
		margin-bottom: 0 !important;
		padding-bottom: 0 !important;
	}
	.tabbable .valign .recent_post_img {
		width:50px;
	}
	#sidebar .valign > div {
		display: table-cell;
		vertical-align: top;
	}
	.darkbg p,
	.darkbg a,
	.portfolio-wrap .portfolio_cat a,
	#sidebar {
		color:#83939C;
	}
	.recent_posts_widget > li {
		display: table;
		height: 60px;
		margin-top:20px;
		width: 100%;
	}
	.recent_posts_widget > li:last-child {
		border-bottom:0 solid #fff;
	}
	.recent_posts li {
		list-style:none
	}	
	.recent_posts_widget a {
		color:#83939C;
	}
	.recent_posts_widget > li img {
		max-width: 50px;
	}	
	
	.recent_posts_widget img {
		float: left;
		margin: 5px 15px 0 0;
	}	
	.flickr-gallery {
		list-style: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	.footer1 .flickr-gallery li {
		border-color:#333333;
	}
	.flickr-gallery li {
		margin: 2px;
		width:61px;
		border:3px solid #ffffff;
		float: left;
	}
	.flickr-gallery li:hover {
		border:3px solid #ffffff;
	}

	.client {
		margin:30px 0 0;
	}

	.testimonial_wrap {
		margin:40px 0;	
	}
	
	.testimonial_details {
		border:1px solid #d3d3d3;
		padding:20px 20px 0;
		-webkit-transition: background-color .4s linear, color .4s linear;
		-moz-transition: background-color .4s linear, color .4s linear;
		-o-transition: background-color .4s linear, color .4s linear;
		-ms-transition: background-color .4s linear, color .4s linear;
		transition: background-color .4s linear, color .4s linear;
	}
	
	.twitter_widget .details,
	.testimonial_widget .details {
		font-size:18px;
		padding:15px 0;
	}
	.twitter_widget,
	.testimonial_widget {
		padding:0 50px;
	}
	.twitter_widget .lead,
	.testimonial_widget .lead {
		font-weight:100;
		font-size:24px;
		color:#ffffff;
		font-style:normal;
	}
	.twitter_widget .lead:before{
		content: "\f099";
		font-family: "FontAwesome";
		font-size: 23px;
		padding:5px 10px;
	}
	.testimonial_widget .lead:after {
		content: "\f10e";
		font-family: "FontAwesome";
		font-size: 13px;
		padding:5px;
	}
	.testimonial_widget .lead:before{
		content: "\f10d";
		font-family: "FontAwesome";
		font-size: 13px;
		padding:5px 10px;
	}
	.twitter_widget .details span {
		font-size:18px;
		line-height:18px;
		font-weight:400;
		color:#ffffff;
		text-decoration:none;
		padding:10px;
		border-width:0px;
		border-style:none;
	}
	.messagebox1 .lead {
		color:#ffffff;
		font-style:normal;
		padding:10px 0 30px;
	}
	.messagebox1 h1,
	.testimonial_widget .details span {
		border-style: none;
		border-width: 0;
		color: #FFFFFF;
		font-family: 'NovecentowideBookBold',cursive;
		font-size: 38px;
		font-weight: 400;
		line-height: 1.6;
		padding: 0;
		text-decoration: none;
	}
	.darkwrapper .testimonial_details {
		border-color:transparent;
	}
	.testimonial_details img {
		margin: 3px 20px 20px 0;
		width: 80px;
	}
	.skills_boxes,
	.teambox {
		margin:40px 0
	}
	.teambox img {
		width:100%;
	}
	.teambox .title h3 {
		padding:25px 0 5px;
		margin-bottom:0 !important;
	}
	.teambox .title .lead {
		margin:10px 0;
	}
	
/*	################################################################
	6. SLIDESHOW STYLES
################################################################# */

	#aboutslider {
		margin-bottom:50px;
	}
	#aboutslider:after {
		background:url(images/flexslider_shadow.png) no-repeat center bottom;
		position:absolute;
		bottom:0;
	}
	.aboutslider-shadow {
	  width:100%;
	  position:relative;
	  z-index:1;
	}
	.aboutslider-shadow .s1 {
	  background:url(images/flexslider_shadow.png) center no-repeat;
	  height:29px;
	  margin:0 auto;
	  bottom:-28.5px;
	  overflow:hidden;
	  width:100%;
	  position:absolute;
	  left:0;
	}
	#slider4container .tparrows:before,
	#slider4container .tparrows:hover,
	#slider4container .tparrows {
		color: #000 !important;
	}
	#slider4container .tparrows {
		background:#fff !important;
		background:rgba(255,255,255,0.5) !important;
	}
	#slider4container .tparrows:hover	{
		background:#fff !important
	}
	.boxedcontainer	{	
		max-width: 1170px; 
		margin:auto; 
		padding:0px 30px;
	}
	.portfolio-wrap-sidebar img,
	.portfolio-wrap img,
	.tp-banner-container{
		width:100%;
		position:relative;
		padding:0;
	}
	.tp-banner{
		width:100%;
		position:relative;
	}
	.tp-banner-fullscreen-container {
		width:100%;
		position:relative;
		padding:0;
	}
	.tp-bullets.simplebullets.navbar {
		height: 35px;
		padding: 0px 0px;
	}
	.tp-bullets.simplebullets .bullet {
		cursor: pointer;
		position: relative !important;
		background: rgba(255, 255, 255, 0.5) !important;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		width: 6px !important;
		height: 6px !important;
		border: 5px solid rgba(0, 0, 0, 0);
		display: inline-block;
		margin-right: 2px !important;
		margin-bottom: 14px !important;
		-webkit-transition: background-color 0.2s, border-color 0.2s;
		-moz-transition: background-color 0.2s, border-color 0.2s;
		-o-transition: background-color 0.2s, border-color 0.2s;
		-ms-transition: background-color 0.2s, border-color 0.2s;
		transition: background-color 0.2s, border-color 0.2s;
		float:none !important;
	}
	.tp-bullets.simplebullets .bullet.last {
		margin-right: 0px
	}
	.tp-bullets.simplebullets .bullet:hover,
	.tp-bullets.simplebullets .bullet.selected {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		background: rgba(255, 255, 255, 1) !important;
		width: 6px !important;
		height: 6px !important;
		border: 5px solid #fff;
	}	
	.tparrows:before {
		font-family: 'revicons';
		color: #fff;
		font-style: normal;
		font-weight: normal;
		speak: none;
		display: inline-block;
		text-decoration: inherit;
		margin-right: 0;
		margin-top: 8px;
		text-align: center;
		width: 50px;
		font-size: 20px;
	}
	.tparrows {
		cursor: pointer;
		background: rgba(0, 0, 0, 0.3) !important;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		width: 50px !important;
		height: 50px !important;
	}
	.tparrows:hover {
		color: #fff;
	}
	.tp-leftarrow:before {
		content: '\e824';
	}
	.tp-rightarrow:before {
		content: '\e825';
	}
	.tparrows.tp-rightarrow:before {
		margin-left: 1px;
	}
	.tparrows:hover {
		background: rgba(0, 0, 0, 1) !important;
	}
	.owl-carousel .owl-wrapper:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}
	.owl-carousel{
		display: none;
		position: relative;
		width: 100%;
		-ms-touch-action: pan-y;
	}
	.owl-carousel .owl-wrapper{
		display: none;
		position: relative;
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	.owl-carousel .owl-wrapper-outer{
		overflow: hidden;
		position: relative;
		width: 100%;
	}
	.owl-carousel .owl-wrapper-outer.autoHeight{
		-webkit-transition: height 500ms ease-in-out;
		-moz-transition: height 500ms ease-in-out;
		-ms-transition: height 500ms ease-in-out;
		-o-transition: height 500ms ease-in-out;
		transition: height 500ms ease-in-out;
	}
	.owl-carousel .owl-item{
		float: left;
	}
	.owl-controls .owl-page,
	.owl-controls .owl-buttons div{
		cursor: pointer;
	}
	.owl-controls {
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	.grabbing { 
		cursor:url(images/grabbing.png) 8 8, move;
	}
	.owl-carousel  .owl-wrapper,
	.owl-carousel  .owl-item{
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility:    hidden;
		-ms-backface-visibility:     hidden;
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		-ms-transform: translate3d(0,0,0);
	}
	.owl-theme .owl-controls{
		margin-top: 10px;
		text-align: center;
	}
	.owl-theme .owl-controls .owl-buttons div{
		color: #FFF;
		display: inline-block;
		zoom: 1;
		*display: inline;/*IE7 life-saver */
		margin: 5px;
		padding: 3px 10px;
		font-size: 12px;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		border-radius: 30px;
		background: #869791;
		filter: Alpha(Opacity=50);/*IE7 fix*/
		opacity: 0.5;
	}
	.owl-theme .owl-controls.clickable .owl-buttons div:hover{
		filter: Alpha(Opacity=100);/*IE7 fix*/
		opacity: 1;
		text-decoration: none;
	}	
	.owl-theme .owl-controls .owl-page{
		display: inline-block;
		zoom: 1;
		*display: inline;/*IE7 life-saver */
	}
	.owl-theme .owl-controls .owl-page span{
		border:1px solid #212121;
		border-radius: 0;
		display: block;
		height: 4px;
		margin: 5px 6px;
		width: 25px;
		background:#ffffff;
	}
	.owl-theme .owl-controls .owl-page span.owl-numbers{
		height: auto;
		width: auto;
		color: #FFF;
		padding: 2px 10px;
		font-size: 12px;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		border-radius: 30px;
	}
	.owl-item.loading{
		min-height: 150px;
		background: url(images/AjaxLoader.gif) no-repeat center center
	}
	
/*	################################################################
	7. SHOP STYLES
################################################################# */

	.grid {
		margin-bottom:30px;
		overflow:hidden;
	}
	.grid figure {
		margin: 0;
		position: relative;
	}
	
	.grid figure img {
		max-width: 100%;
		display: block;
		position: relative;
	}
	
	.grid figcaption {
		position: absolute;
		top: 0;
		left: 0;
		background:#EC644B;
		color: #EAEAEA;
	}
	
	.grid figcaption h3 {
		text-align:left;
		padding: 0;
		margin:0;
		font-size:14px;
		color: #fff;
	}
	.grid figcaption h3 i {
		margin-right:10px;
	}
	.grid figcaption a {
		text-align: center;
		display: inline-block;
		cursor:pointer;
		font-size:13px;
		color: #ffffff !important;
		line-height:50px;
	}
	.grid figcaption a:hover {
		opacity:1;
		text-decoration:none;
	}
	.cs-style-3 figure {
		overflow: hidden;
	}
	.cs-style-3 figure img {
		-webkit-transition: -webkit-transform 0.4s;
		-moz-transition: -moz-transform 0.4s;
		transition: transform 0.4s;
	}
	.no-touch .cs-style-3 figure:hover img,
	.cs-style-3 figure.cs-hover img {
		-webkit-transform: translateY(-50px);
		-moz-transform: translateY(-50px);
		-ms-transform: translateY(-50px);
		transform: translateY(-50px);
	}
	.cs-style-3 figcaption {
		height: 50px;
		width: 100%;
		top: auto;
		bottom: 0;
		opacity: 0;
		-webkit-transform: translateY(100%);
		-moz-transform: translateY(100%);
		-ms-transform: translateY(100%);
		transform: translateY(100%);
		-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
		-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
		transition: transform 0.4s, opacity 0.1s 0.3s;
	}
	.no-touch .cs-style-3 figure:hover figcaption,
	.cs-style-3 figure.cs-hover figcaption {
		opacity: 1;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-ms-transform: translateY(0px);
		transform: translateY(0px);
		-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
		-moz-transition: -moz-transform 0.4s, opacity 0.1s;
		transition: transform 0.4s, opacity 0.1s;
	}
	.cs-style-3 figcaption a.external {
		bottom: 0;
		color: #FFFFFF;
		display: block;
		height: 50px;
		position: absolute;
		left: 0;
		border-left:1px solid #32D3FF;
		text-align: center;
		width: 25%;
	}
	.cs-style-3 figcaption a.zoom {
		bottom: 0;
		color: #FFFFFF;
		display: block;
		height: 50px;
		position: absolute;
		left: 25%;
		border-left:1px solid #32D3FF;
		text-align: center;
		width: 25%;
	}
	.cs-style-3 figcaption a.addtocart {
		bottom: 0;
		color: #FFFFFF;
		display: block;
		height: 50px;
		position: absolute;
		right: 0;
		border-left:1px solid #32D3FF;
		text-align: center;
		width: 50%;
	}
	.cs-style-3 i {
		font-size:14px;
	}
	.cs-style-3 figcaption a.addtocart:hover,
	.cs-style-3 figcaption a.zoom:hover,
	.cs-style-3 figcaption  a.external:hover {
		background:#292723;
	}
	.onsale {
		bottom: auto;
		color: #FFFFFF;
		height: 50px;
		left: 20px;
		margin: 0;
		padding: 0;
		position: absolute;
		right: auto;
		text-align: left;
		top: 20px;
		width: 50px;
		z-index: 1;
		-webkit-border-radius: 500px;
		-moz-border-radius: 500px;
		border-radius: 500px;
		line-height: 50px;
		text-align: center;
	}
	.price-detail {padding-bottom:5px;}
	.product_title h3 {
		font-size:18px;
		padding:15px 0 0;
		margin-bottom:8px;
	}
	#calculate input {margin-top:10px}
	.product-content .price1 { overflow: auto; padding:5px 5px 5px; margin-bottom:0; font-size:28px; font-weight:normal; }
	.product-content .price1-old { font-size:17px; text-decoration: line-through; }
	.product-content .price1-new { font-weight:600; font-size:25px }
	.product-content .price1-tax { font-size: 12px; font-weight: normal;  }
	.product-content .price1 .reward { font-size: 12px; margin:10px 0; font-weight: normal;display:block; }
	.product-content .price1 .discount { font-weight: normal; font-size: 12px; }
	.product-content select {width:100%;}
	.product-content .general {padding-top:15px;}
	.form-verif {
		background-color: #FFFFFF;
		background-image: none;
		border: 1px solid #E9E9E9;
		border-radius: 0;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
		color: #555555;
		display: block;
		font-size: 14px;
		height: 30px;
		line-height: 1.42857;
		margin: -4px;
		padding: 6px 12px;
		transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
		vertical-align: middle;
		width: 35px;
	}
	div.thumbnails{padding-top:10px;zoom:1}
	div.thumbnails a{float:left;width:30%;margin-right:4.9%}
	div.thumbnails a img{width:100%;height:auto}
	div.thumbnails a.last{margin-right:0}
	div.thumbnails a.first{clear:both}

/*	################################################################
	8. PORTFOLIO STYLES
################################################################# */

	#centered_grid {
		padding: 0;
		margin: 0 auto !important;
	}
	.portfolio {
		text-align: none;
		overflow: visible !important;
		margin: auto !important;
		margin-top: 0 !important;
	}
	.portfolio-columns,
	.portfolio_classic {  
		overflow: hidden;
		padding: 0 0 30px;
		width: 100%;
	}
	#related_items {
		overflow: hidden;
		padding: 20px 0;
		margin:0;
		width: 100%;
	}
	#related_items .item {
		padding:10px !important; 
	}
	.portfolio-wrap {  
		overflow: hidden;
		padding: 0;
		margin:0;
		width: 100%;
	}
	.portfolio-wrap.portfoliopadding {
		border-bottom:1px double #efefef;
		border-top:1px double #efefef;
		margin:5px 0;
	}
	.portfolio-wrap.portfoliopadding:last-child {  
		border-bottom:0 solid #ffffff !important;
	}
	.portfolio-wrap.portfoliopadding:first-child {  
		border-top:0 solid #ffffff !important;
	}
	.portfolio-wrap .title1 { 
		margin-top:20px;
		display:block;
	}
	.portfolio-wrap .portfolio_cat {
		display: block;
		margin: 13px 0 0;
	}
	.portfolio_desc .title1 h3 {
		font-size:18px !important;
	}
	.portfolio_desc.mini .title1 h3 {
		font-size:15px !important;
	}
	.paddingtop .item {
		border:0 solid #fff !important;
	}
	
	.portfolio_wrapper .item {
		background:#ffffff;
	}
	.portfolio_wrapper .item img {
		width:100%;
	}
	.portfolio-filter ul {
		list-style:none; 
		padding-left:10px
	}
	.portfolio-filter {
		text-align: center;
		margin: 15px 0;
		padding:20px 0;
	}
	.portfolio-filter li {
		display: inline;
		margin-right: 15px;
		padding: 0;
	}
	.portfolio-filter li a {
		font-size:14px;
	}
	.portfolio-filter li a.orange:before {
		background-color:#ff6c13 !important;
	}
	.portfolio-filter li a.purple:before {
		background-color:#574de5 !important;
	}
	.portfolio-filter li a.yellow:before {
		background-color:#e2e41f !important;
	}	
	.portfolio-filter li a.blue:before {
		background-color:#21c2f8 !important;
	}	
	.portfolio-filter li a:before {
		background:#111111;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		content: "";
		display: inline-block;
		height: 10px;
		margin-right: 5px;
		position: relative;
		width: 10px;
	}
	.portfolio_image {
		position:relative;
		overflow:hidden;
		width:100%;
	}
	.hovereffect {
		position:relative;
		cursor:pointer;
		padding:0;
		width:auto;
		height:auto;
	}
	.portfolio_cat i {
		padding-right:5px;
	}
	.masonry_wrapper .item {
		float: left;
		width: 20%;
		height: 157px;
		margin: 0 2px 4px;
		padding:4px;
		background-color:#ffffff;
	}
	.masonry_wrapper .item img {
	  height: auto;
	  width: 100%;
	  position: relative;
	  z-index: -2;
	}
	.masonry_wrapper .item-w2 {
		width: 40%;
		background: #ffffff;
	}
	.masonry_wrapper .item-h2 {
		height: 322px;
		background: #ffffff;
	}
	.masonry_wrapper .item-h3 {
		height: 485px;
		background: #ffffff;
	}
	.isotope-item {
	  z-index: 2;
	}
	.isotope-hidden.isotope-item {
	  pointer-events: none;
	  z-index: 1;
	}
	.isotope,
	.isotope .isotope-item {
	  -webkit-transition-duration: 0.8s;
		 -moz-transition-duration: 0.8s;
		  -ms-transition-duration: 0.8s;
		   -o-transition-duration: 0.8s;
			  transition-duration: 0.8s;
	}
	.isotope {
	  -webkit-transition-property: height, width;
		 -moz-transition-property: height, width;
		  -ms-transition-property: height, width;
		   -o-transition-property: height, width;
			  transition-property: height, width;
	}
	.isotope .isotope-item {
	  -webkit-transition-property: -webkit-transform, opacity;
		 -moz-transition-property:    -moz-transform, opacity;
		  -ms-transition-property:     -ms-transform, opacity;
		   -o-transition-property:      -o-transform, opacity;
			  transition-property:         transform, opacity;
	}	
	.isotope.no-transition,
	.isotope.no-transition .isotope-item,
	.isotope .isotope-item.no-transition {
	  -webkit-transition-duration: 0s;
		 -moz-transition-duration: 0s;
		  -ms-transition-duration: 0s;
		   -o-transition-duration: 0s;
			  transition-duration: 0s;
	}
	
/*	################################################################
	9. BLOG STYLES
################################################################# */

	.blog_button {
	   -moz-user-select: none;
		background: #292723;
		border: 1px solid #efefef;
		color: #ffffff !important;
		cursor: pointer;
		display: inline-block;
		font-size: 13px;
		font-weight: normal;
		line-height: 1.42857;
		margin-bottom: 30px;
		padding: 10px 23px;
		text-align: center;
		vertical-align: middle;
		white-space: nowrap;
	}
	#timeline {
		list-style-type: none;
		margin: 0;
		padding: 0;
		position: relative;
		overflow: hidden;
		background: url(images/timeline.png) repeat-y top center;
	}
	#timeline .timeline-item {
		clear: both;
		margin: 0 10px;
		width: 50%;
		float: left;
	}
	#timeline .blog-columns { 
		padding:0 0 0 0 ;
	}
	#timeline .blog-columns {
		margin: 0 60px 0 0;
		position: relative;
	}
	#timeline .timeline-item:nth-child(2n) {
		float: right;
	}
	#timeline .timeline-item:nth-child(2n) .blog-columns {
		margin-left: 60px;
		margin-right: 0;
	}
	#timeline .timeline-item {
		background: url(images/timeline1.png) no-repeat right center;
	}
	#timeline .timeline-item:nth-child(2n) {
		background: url(images/timeline2.png) no-repeat left center;
	}
	.blog-columns {
		background:#ffffff;
		border:1px solid #efefef;
		margin-bottom:30px;
	}
	.blog-columns img {
		width:100%;
	}
	.blog-content {
		padding:20px;
	}
	.blog-columns .title h3 {
		border-bottom: 1px solid #DADADA;
		font-size: 16px;
		padding-bottom: 15px;
	}
	.blog-columns .title h3 a {
		color: #292723;
		font-weight: 400;
	}
	.blog-columns .post_meta span i {
		padding-right: 5px;
	}
	.blog-columns .post_meta span {
		padding-right: 5px;
	}
	.blog-columns .post_meta {
		padding: 0 0 15px;
	}
	.quote-post {
		background:#f2f2f2;
		position: relative;
		padding:20px 10px;
	}
	.quote-post:after {
		font-family: 'FontAwesome';
		content: "\f10e";
		padding-right:20px;
		right:0;
		position:absolute;
		top:50px;
		color:#000000;
		font-size:600%;
		opacity: 0.2; -moz-opacity: 0.2; filter: alpha(opacity=20);
	}
	.quote-post blockquote {
		border-left:0px solid #fff;
	}
	.postwrapper {
		background-color: #FFFFFF;
		padding: 60px 0;
		border-top:1px solid #e0e0e0;
	}
	.post-wrapper-top {
		background:url(images/topbg.png) repeat rgba(0,0,0,0.5);
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		z-index: 0;
		border-bottom: 3px solid #ffffff;
		margin-bottom: 0;
		padding:0;
		position: relative;
		text-align: left;
	}
	.breadcrumb > li + li:before {
		font-size:13px;
	}
	.post-wrapper-top h2 {
		border-bottom: 3px solid #fff;
		display: inline-block;
		font-size:24px;
		padding: 40px 0;
		color:#ffffff;
		position: relative;
		margin-bottom:-3px;
	}
	.breadcrumb {
		background-color: rgba(0, 0, 0, 0);
		border-left: 0 solid #63B76C;
		border-radius: 0;
		font-size:18px;
		color:#ffffff;
		font-weight:400;
		list-style: none outside none;
		padding: 40px 0 0;
	}
	.breadcrumb > li + li:before {
		content:"";
		background:url(images/breadcrumb.png) no-repeat center top;
		margin:0px 5px;
		padding:0 10px
	}
	.authorbox_wrapper {
		padding:20px;
		border-bottom: 1px solid #EFEFEF;
		margin-bottom: 50px;
	}
	.authorbox_wrapper img {
		margin:0 20px 20px 0;
		width:100px !important;
	}
	.authorbox_wrapper h4 {
		margin-bottom:0;
		padding-bottom:0;
	}
	.authorbox_wrapper p {
		padding-top:5px;
		margin-top:5px;
	}
	#comments_wrapper {margin:60px 0}
	.reviews .comment-list {margin:20px 0 40px}
	.comment-list {
		margin: 60px 0;
		list-style:none;
	}
	.comment-list ul li,
	.comment-list ol li {list-style:none;}
	.comment-avatar {
		margin: 0 20px 0 0;
		float: left;
		height: 70px; width: 70px;
	}
	.comment-content {
	   background: #f2f2f2;
		border: 1px solid #efefef;
		margin-bottom: 20px;
		overflow: hidden;
		padding: 20px;
	}
	.comment-author {
		margin-bottom: 10px;
	}
	.comment-meta {
		font-size: 12px;
		color: #aaa;
		padding-left:10px;
	}
	.comment-reply {
		margin:-10px -5px 0 0;
		float: right;
		font-size: 12px;
		color: #ffffff;
	}
	.leave-comment textarea {
		height: 150px;
	}
	.pagination > li > a, .pagination > li > span {
		background-color: #272727;
		color: #FFFFFF;
		float: left;
		line-height: 1.82857;
		margin-left: 5px;
		padding: 6px 15px;
		position: relative;
		text-decoration: none;
	}
	.blog_wrap {
		margin:50px 0 0;
	}
	.single_wrap .title {
		margin:30px 0 10px !important;
	}
	.postwrapper .blog_wrap {
		margin: 0 0 30px;
	}
	.blog_wrap img {
	
	}
	.blog_wrap .title {
		margin-bottom:30px
	}
	.blog_wrap .post_desc {
		padding:20px 0;
	}
	.blog_wrap .title h3 {
		border-bottom: 1px solid #dadada;
		display: flex;
		font-size: 18px;
		padding-bottom: 15px;
	}
	.blog_wrap .post_meta i {
		padding-right:4px;
	}
	.blog_wrap .post_meta span {
		padding-right:10px;
	}

/*	################################################################
	10. SERVICES STYLES
################################################################# */

	.custom-box {
		border:1px solid #a9a9a9;
		text-align:center;
		padding:50px 20px 10px;
		margin:60px 0 30px;
		-webkit-transition: border-color .4s linear, color .4s linear;
		-moz-transition: border-color .4s linear, color .4s linear;
		-o-transition: border-color .4s linear, color .4s linear;
		-ms-transition: border-color .4s linear, color .4s linear;
		transition: border-color .4s linear, color .4s linear;
	}
	.custom-box:hover .diamondicon i,
	.serviceicon:hover i,
	.service-square-icon i,
	.service-box .serviceicon:hover i,
	.custom-box:hover .serviceicon i {
		color:#ffffff !important;
	}
	.service-square-icon i {
		font-size:18px;
	}
	.service-square {
		margin:40px 0 20px;
	}
	.service-square .title h3  {
		font-size:18px !important;
		margin-bottom:14px;
	}
	.service-square-icon {
		width:65px;
		height:65px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		line-height:65px;
		background:#fff;
		text-align:center;
		margin:3px 15px 15px 0;
	}
	.custom-box .icn-main-container {
		top: 25px;
		position: absolute;
		left: 0;
		right: 0;
	}
	.service-square .title h3  {
		font-size:18px !important;
		margin-bottom:7px;
	}
	.service-box .title h3,
	.service-icon .title h3 {
		font-size:18px !important;
		font-weight:normal;
	}
	.service-box .title {
		padding-top:20px;
	}
	.service-box .serviceicon {
		-webkit-border-radius: 500px;
		-moz-border-radius: 500px;
		border-radius: 500px;
		color: #292723;
		background:#ffffff;
		border:1px solid #a9a9a9;
		height: 85px;
		margin:0 auto;
		line-height: 95px;
		position: relative;
		text-align: center;
		width: 85px;
		z-index: 5;
	}
	.custom-box .serviceicon {
		-webkit-border-radius: 500px;
		-moz-border-radius: 500px;
		border-radius: 500px;
		color: #292723;
		background:#ffffff;
		border:1px solid #a9a9a9;
		font-size: 21px;
		height: 65px;
		margin:0 auto;
		line-height: 65px;
		position: relative;
		text-align: center;
		width: 65px;
		z-index: 5;
	}	
	.diamondicon {
		width: 60px; 
		height: 60px; 
		background: #ffffff;
		border:1px solid #a9a9a9;
		line-height:60px;
		margin:17px 35% 0 auto;
	   /* Rotate */
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);
	   /* Rotate Origin */
			-webkit-transform-origin: 0 100%;
			-moz-transform-origin: 0 100%;
			-ms-transform-origin: 0 100%;
			-o-transform-origin: 0 100%;
			transform-origin: 0 100%;
	}
	.diamondicon .diamondicon-icon  {
		color:#292723;
		font-size:21px;
	}
	.serviceicon.smallradius,
	.custom-box .serviceicon.smallradius {
		-webkit-border-radius: 5px !important;
		-moz-border-radius: 5px !important;
		border-radius: 5px !important;
	}
	.servicesbox .title h3 {
		font-size:18px;
		line-height:50px;
	}
	.servicesbox p {
		display:block;
	}
	.servicesbox .title i {
		font-size:18px !important;
	}
	.blog_wrap .post_date,
	.servicesbox .serviceicon {
		-webkit-border-radius: 500px;
		-moz-border-radius: 500px;
		border-radius: 500px;
		color: #292723;
		border:1px solid #888;
		float: left;
		font-size: 15px;
		height: 54px;
		line-height: 54px;
		margin-right: 10px;
		position: relative;
		text-align: center;
		width: 54px;
		z-index: 5;
	}
    #services .item{
		margin: 0;
		padding:10px;
		display: block;
		width: 100%;
		height: auto;
    }
	.serviceslist {
		list-style-type: none;
		margin: 60px 0;
		padding: 0;
		position: relative;
		overflow: hidden;
	}
	.serviceslist .service-icon .serviceicon {
		-webkit-border-radius: 500px;
		-moz-border-radius: 500px;
		border-radius: 500px;
		color: #ffffff;
		background:#f6f6f6;
		border:1px solid #888;
		font-size: 15px;
		height: 65px;
		line-height: 65px;
		margin-right: 10px;
		position: relative;
		text-align: center;
		width: 65px;
		z-index: 5;
	}
	.serviceslist .servicelistbox .serviceicon {
		margin:4px 20px 0;
	}
	.serviceslist .col-lg-6,
	.serviceslist .col-md-6,
	.serviceslist .col-sm-6,
	.serviceslist .col-xs-6 {
		padding:0 !important
	}
	.servicelistbox {
		color:#959595;
		margin-top:40px;
	}
	.servicelistbox .service-icon .title h3 {
		font-size:18px !important;
	}
	 .service-icon .title h3 {
		font-size:15px !important;
	}
	.miniboxes .title {
		padding:10px 0;
	}
	.miniicon {
		background:#ffffff;
		height: 50px;
		line-height:55px;
		margin: 35px auto;
		color:#ffffff;
		position: relative;
		width: 90px;
	}
	.miniicon:before {
		border-bottom: 25px solid #FF0000;
		border-left: 45px solid rgba(0, 0, 0, 0);
		border-right: 45px solid rgba(0, 0, 0, 0);
		content: "";
		height: 0;
		left: 0;
		position: absolute;
		top: -25px;
		width: 0;
	}
	 .miniicon:after {
		border-left: 45px solid rgba(0, 0, 0, 0);
		border-right: 45px solid rgba(0, 0, 0, 0);
		border-top: 25px solid #FF0000;
		bottom: -25px;
		content: "";
		height: 0;
		left: 0;
		position: absolute;
		width: 0;
	}
	.dm_featured_box_bg {
		background: url(demos/featuredbg.png) no-repeat scroll center center rgba(0, 0, 0, 0);
		margin: 0 auto;
		width: 100%;
		padding-top:100px;
		min-height:700px;
	}
	.dm_featured_box {
		float: left;
		list-style: none outside none;
		margin: 0;
		padding: 30px 60px 0 0;
		position: relative;
		text-align: right;
		width: 38%;
	}
	.dm_featured_box:nth-of-type(2n){
		float:right;
		text-align:left;
		padding:30px 0 0 60px;
	}
	.dm_featured_box_bg .service-icon {
		background:none !important;
	}
	.greybg .serviceslist .service-icon .serviceicon {
		background:#ffffff;
	}

/*	################################################################
	11. CSS3 ANIMATION EFFECTS
################################################################# */

	[class*=".effect-"] {
	  -webkit-backface-visibility: hidden;
	  -moz-backface-visibility: hidden;
	  backface-visibility: hidden;
	  -webkit-perspective: 1000;
	  -moz-perspective: 1000;
	  perspective: 1000;
	}
	
	.effect-fade {
	  opacity: 0;
	}
	.effect-fade.in {
	  opacity: 1;
	}
	.effect-slide-left {
	  -webkit-transform: translate3d(-30%, 0, 0);
	  transform: translate3d(-30%, 0, 0);
	  opacity: 0;
	}
	.effect-slide-left.in {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	  opacity: 1;
	}
	.effect-slide-right {
	  -webkit-transform: translate3d(30%, 0, 0);
	  transform: translate3d(30%, 0, 0);
	  opacity: 0;
	}
	.effect-slide-right.in {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	  opacity: 1;
	}
	.effect-slide-top {
	  -webkit-transform: translate3d(0, -30%, 0);
	  transform: translate3d(0, -30%, 0);
	  opacity: 0;
	}
	.effect-slide-top.in {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	  opacity: 1;
	}
	.effect-slide-bottom {
	  -webkit-transform: translate3d(0, 30%, 0);
	  transform: translate3d(0, 30%, 0);
	  opacity: 0;
	}
	.effect-slide-bottom.in {
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	  opacity: 1;
	}
	.effect-pop {
	  opacity: 0;
	}
	.effect-pop.in {
	  -webkit-animation: pop 0.6s ease-out 0.5s both;
	  -moz-animation: pop 0.6s ease-out 0.5s both;
	  -o-animation: pop 0.6s ease-out 0.5s both;
	  animation: pop 0.6s ease-out 0.5s both;
	  opacity: 1 \9;
	}
	@-webkit-keyframes pop {
	  0% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	  }
	  50% {
		-webkit-transform: scale(1.2);
		-ms-transform: scale(1.2);
		transform: scale(1.2);
		opacity: 1;
	  }
	  100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	  }
	}
	@-moz-keyframes pop {
	  0% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	  }
	  50% {
		-webkit-transform: scale(1.2);
		-ms-transform: scale(1.2);
		transform: scale(1.2);
		opacity: 1;
	  }
	  100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	  }
	}
	@-o-keyframes pop {
	  0% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	  }
	  50% {
		-webkit-transform: scale(1.2);
		-ms-transform: scale(1.2);
		transform: scale(1.2);
		opacity: 1;
	  }
	  100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	  }
	}
	@keyframes pop {
	  0% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	  }
	  50% {
		-webkit-transform: scale(1.2);
		-ms-transform: scale(1.2);
		transform: scale(1.2);
		opacity: 1;
	  }
	  100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	  }
	}
	.effect-fall {
	  opacity: 0;
	  -webkit-transform: scale(1.5);
	  -ms-transform: scale(1.5);
	  transform: scale(1.5);
	}
	.effect-fall.in {
	  -webkit-transform: scale(1);
	  -ms-transform: scale(1);
	  transform: scale(1);
	  opacity: 1;
	}
	.effect-perspective {
	  -webkit-perspective: 1300px;
	  -moz-perspective: 1300px;
	  perspective: 1300px;
	}
	.effect-helix {
	  -webkit-transform-style: preserve-3d;
	  -moz-transform-style: preserve-3d;
	  transform-style: preserve-3d;
	  opacity: 0;
	  -webkit-transform: rotateY(-180deg);
	  -ms-transform: rotateY(-180deg);
	  transform: rotateY(-180deg);
	}
	.effect-helix.in {
	  opacity: 1;
	  -webkit-transform: rotateY(0);
	  -ms-transform: rotateY(0);
	  transform: rotateY(0);
	}
	.hovicon {
		display: inline-block;
		line-height: 75px;
		cursor: pointer;
		margin: 15px 0;
		width: 75px;
		height: 75px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		text-align: center;
		position: relative;
		text-decoration: none;
		z-index: 1;
		color: #fff;
	}
	.hovicon:after {
		pointer-events: none;
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		content:'';
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
	}
	.hovicon:before {
		speak: none;
		line-height: 80px;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		display: block;
		-webkit-font-smoothing: antialiased;
	}
	.hovicon.effect-1 {
		-webkit-transition: background 0.2s, color 0.2s;
		-moz-transition: background 0.2s, color 0.2s;
		transition: background 0.2s, color 0.2s;
	}
	.hovicon.effect-1:after {
		top: -7px;
		left: -7px;
		padding: 7px;
		-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
		-webkit-transform: scale(.8);
		-moz-transition: -moz-transform 0.2s, opacity 0.2s;
		-moz-transform: scale(.8);
		-ms-transform: scale(.8);
		transition: transform 0.2s, opacity 0.2s;
		transform: scale(.8);
		opacity: 0;
	}
	.hovicon.effect-1.sub-a:hover:after {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
	.jt-shadow {
		-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);	
		-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);	
		box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);	
	}
	.popular_items img,
	.comment img,
	.shopping-cart-widget img,
	div.thumbnails a img,
	.authorbox_wrapper img,
	.flickr-gallery li img,
	.recent_posts img,
	.recent_posts_widget img,
	.testimonial_wrap img {		
		-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
		-ms-transition: opacity 0.2s ease-in-out;
		-o-transition: opacity 0.2s ease-in-out;
		transition: opacity 0.2s ease-in-out;
	}
	.popular_items img:hover,
	.shopping-cart-widget img:hover,
	div.thumbnails a img:hover,
	.comment img:hover,
	.authorbox_wrapper img:hover,
	.flickr-gallery li img:hover,
	.recent_posts img:hover,
	.recent_posts_widget img:hover,
	.testimonial_wrap img:hover {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
		filter: alpha(opacity=60);
		-moz-opacity: 0.6;
		-khtml-opacity: 0.6;
		opacity: 0.6;
	}
	
/*	################################################################
	12. BUTTONS MODULES
################################################################# */

	.imgWrap{
		position:relative;
	}
	.imgWrap:after{
		content:"";
		position:absolute;
		top:0; bottom:0; left:0; right:0;
		border:10px solid rgba(33,194,248,0.4);
		pointer-events: none;
	}
	.banner {
		padding: 0;
		margin-bottom:20px;
		position: relative;
	}
	.ContentWrapperHe .ContentHe .Content {
		padding: 0;
		position: absolute;
		top: 10%;
		display: block;
		margin: 0 auto;
		text-align: Center;
		right: 0;
		left: 0;
	}
	.banner .jtbtn {color:#ffffff !important; border-color:#ffffff !important; }
	.hoverimage h3 {
		border-radius: 0;
		color: #ffffff !important;
		font-size: 28px !important;
		font-weight: 100 !important;
		margin: 25px auto 10px;
		padding: 5px 10px !important;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		font-family: Helvetica Neue !important;
	}
	.shadow {
		display:block;
		position:relative;
	}
	.shadow img {
		display:block;
	}
	.shadow::before {
		display:block;
		content:'';
		position:absolute;
		width:100%;
		height:100%;
		-moz-box-shadow:inset 0px 0px 3px 1px rgba(0,0,0,0.2);
		-webkit-box-shadow:inset 0px 0px 3px 1px rgba(0,0,0,0.2);
		box-shadow:inset 0px 0px 3px 1px rgba(0,0,0,0.2);
	}	
	.f-container {
		overflow:hidden;
		padding:20px 0 0;
	}
	.highlight {
		font-size: 72px;
		font-family: 'NovecentowideBookBold', cursive;
		font-weight: bold;
		color:#ffffff;
		line-height: 1.6;
	}
	.milestone-details {
		font-size: 21px;
		color:#ffffff;
		font-weight: 400;
		padding: 10px 0 20px;
		font-family: 'Nothing You Could Do', cursive;
		font-weight: normal;
	}
	.f-element{
		color:#ffffff;
		margin-bottom:20px;
		height: auto;
		text-align: center;
	}
	.f-element i {
		margin-bottom:10px;
		font-size:36px;
	}
	.darkwrapper .lead {
		color:#ffffff;
	}
	.messagebox .lead {
		font-style:normal !important;
	}
	.messagebox h1 {
		font-weight:300 !important;
	}
	.custommenu li a:before,
	.product_details li:before {
		content: "\f105" !important;
	}
	.featureslist li:before {
		content: "\f140" !important;
		padding-right:8px !important;
	}
	.custommenu li a:before{
		content: "\f00c";
		font-family: "FontAwesome";
		font-size: 13px;
		padding-right:5px;
		top: 2px;
	}
	.featureslist li:before,
	.product_details li:before,
	.check li:before {
		content: "\f00c";
		font-family: "FontAwesome";
		font-size: 16px;
		left: 0;
		padding-right:5px;
		position: relative;
		top: 2px;
	}
	.featureslist li {
		list-style:none;
		margin:0 0 10px;
	}
	.product_details li,
	.check li {
		list-style:none;
		margin:0 0 5px;
	}
	.product_details  {
		margin-top:20px;
		margin-left:0; 
		padding-left:10px
	}
	.check {
		margin-left:0; 
		padding-left:0
	}
	.product_details li a,
	.check li a {
		color:#656565;
	}
	.error404 h2 {
		font-size: 160px;
		font-weight: 900;
		line-height: 1.3;
		text-align: center;
		text-transform: uppercase;
		margin-bottom:0 !important;
		padding-bottom:0;
	}
	.error404 h3 {
		margin:0 0 30px;
		font-size: 26px;
		color: #515050;
		padding-top:0;
		text-align: center;
	}
	.pricing-box {
		border:1px solid #a9a9a9;
		text-align:center;
		padding:20px;
		margin:40px 0;
		-webkit-transition: background-color .4s linear, color .4s linear;
		-moz-transition: background-color .4s linear, color .4s linear;
		-o-transition: background-color .4s linear, color .4s linear;
		-ms-transition: background-color .4s linear, color .4s linear;
		transition: background-color .4s linear, color .4s linear;
	}
	div.price {
		width:130px !important;
		-webkit-border-radius: 500px;
		-moz-border-radius: 500px;
		border-radius: 500px;
		height:130px !important;
		line-height:130px;
		font-size:24px;
		color:#ffffff;
		margin:0 auto !important;
		text-align:center;
		font-weight:400;
	}
	.pricing-box h3 {
		font-size:20px;
	}
	.pricing-box:hover div.price,
	.pricing-box:hover .jtbtn {
		background-color:#ffffff;
		border-color:#ffffff;
	}
	.pricing-box:hover h3,
	.pricing-box:hover {
		color:#ffffff;
	}
	.pricing-box hr {margin:20px -20px; border-style:dotted; border-color:#dee5e8;}
	.pricing {list-style:none; padding:0; margin:0 !important}
	.pricing li {
		font-size: 13px;
		line-height: 31px;
		margin: 0 auto;
		padding: 0;
		text-align: center;
	}
	#map {
		display:block;
		position:relative;
		height:450px;
		width:100%
	}
	#map img{
		max-width:inherit
	}
	.map{
		position:relative
	}
	.infobox img {
		width:100% !important;
	}
	.map .searchmodule {
		padding:18px 10px
	}
	.infobox {
		display: inline-block;
		padding: 10px 5px 5px;
		position: relative;
		width: 270px;
	}
	.infobox img {
		margin-right:10px;
		width:95px !important;
	}
	.infobox .title {
		font-size:13px;
		font-weight:bold;
		font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
		margin-top:0;
		margin-bottom:0;
		text-transform:uppercase;
		padding-bottom:5px;
	}
	.infobox .title a {
		font-weight:bold;
	}
	.percent {
		display: block;
		font-size: 30px;
		letter-spacing: -3px;
		line-height: 9.5;
		font-weight:300;
		position: absolute;
		text-align: center;
		top: -3px;
		width: 90%;
		z-index: 10;
	}
	.chart {
		margin-bottom:20px;
	}
	.skills .title {
		padding:25px 0 0;
	}
	.skills .title h3 {
		font-weight:bold;
		text-transform:uppercase;
		font-size:18px;
	}

	.jtbtn-big.anim {
		text-transform: uppercase;
		display: inline-block;
		text-align: center;
		-webkit-transition: all 200ms linear !important;
		transition: all 200ms linear !important;
		font-size: 14px;
		padding: 10px 20px 10px 30px !important;
	}
	.jtbtn-big.anim i {
		float: right;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		opacity: 0;
		font-size:12px;
		padding-top:4px;
		-webkit-transition: all 200ms linear !important;
		transition: all 200ms linear !important;
	}
	.jtbtn-big.anim:hover i {
		margin-left: 10px !important;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		opacity: 1;
	}
	.jtbtn-big2 {
		display: inline-block;
		border:1px solid #ffffff;
		padding: 9px 35px;
		margin-bottom: 0;
		font-size: 13px;
		font-weight: normal;
		line-height: 1.428571429;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		white-space: nowrap;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
		background:#ffffff;
	}
	.jtbtn-big1 {
		display: inline-block;
		border:1px solid #111111;
		padding: 9px 35px;
		margin-bottom: 0;
		font-size: 13px;
		font-weight: normal;
		line-height: 1.428571429;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		white-space: nowrap;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
		background:none;
		color: #ffffff !important;
	}
	.jtbtn-big {
		display: inline-block;
		padding: 9px 27px;
		margin-bottom: 0;
		font-size: 13px;
		font-weight: normal;
		line-height: 1.428571429;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		white-space: nowrap;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
		background:none;
		color: #ffffff !important;
	}
	.jtbtn {
		display: inline-block;
		padding: 6px 23px;
		margin-bottom: 0;
		font-size: 13px;
		font-weight: normal;
		line-height: 1.428571429;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		white-space: nowrap;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
		background:none;
		color: #292723 !important;
		border-color: #292723 #292723 #292723;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		border: 1px solid #292723;
	}
	.animationload {
		background: #ffffff;
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 99999;
	}
	#intro {
		width: 50px;
		height: 50px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -33px 0 0 -33px;
		background: url(images/load.gif);
	}
	.dmtop {
		background-image: url(images/arrow.png);
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-color:#111111;
		z-index: 999;
		width: 40px;
		height: 40px;
		border-radius:0;
		text-indent: -999px;
		position: fixed;
		bottom: -100px;
		right: 25px;
		cursor: pointer;
		-webkit-transition: all .7s ease-in-out;
		-moz-transition: all .7s ease-in-out;
		-o-transition: all .7s ease-in-out;
		-ms-transition: all .7s ease-in-out;
		transition: all .7s ease-in-out;
		overflow: auto;
	}
	.dmtop:hover {
		background-color:#111111 !important;
	}
	#video-parallax {
		position:relative;
		display:block;
		overflow:hidden;
		width:100%;
		height:100%;
	}
	#mbYTP_bgndVideo,
	#bgndVideo {
		position: relative;
		width: 100%;
		height: 100%;
	}

	#mbYTP_bgndVideo {
		margin:0 !important; 
		padding:0 !important;
	}
	.volume:hover {
		color:#ffffff !important
	}
	.volume {
		bottom: 0;
		position: absolute;
		z-index: 1;
		right:0;
		width: 30px;
		height: 30px;
		background:#000000;
		line-height: 30px;
		font-size: 20px;
		text-align: center;
		color: #ffffff;
		cursor: pointer;
	}
	
/*	################################################################
	13. RESPONSIVENES
################################################################# */
	
@media (max-width: 768px) {
	.fhmm .dropdown-menu .withoutdesc {
		background:none;
	}
	.fhmm .nav, .fhmm .collapse, .fhmm .dropup, .fhmm .dropdown {
		width:100%;
	}
	.icn-main-container {
		top:-30px !important;
	}
	.dm_featured_box_bg {
		background:none;
	}
	.dm_featured_box {
		width:100%;
	}
	#search_form:after, .header_search, .callusv1 {
		margin-top:0 !important;
	}
	.fhmm .navbar-nav > li > .dropdown-menu {
		margin-top:5px;
	}
	.header.affix .logo-wrapper,
	.tp-banner-container .jtbtn-big,
	.breadcrumb,
	.tp-caption.minidesc,
	.sliderwrapper .btn,
	.sliderwrapper .jtbtn {
		display:none;
	}
	.percent {
		line-height:6.5;
	}
	.social li:last-child,
	.callus li:last-child,
	.social li,
	.callus li {border:none}
	.footer-menu .menu,
	.copyright1,
	.callus,
	.callus li,
	.social li,
	.social,
	.logo {
		float:none !important;
		clear:both !important;
		text-align:center !important;
	} 
}

/*	################################################################
	14. COLOR SCHEMES
################################################################# */

	.mmodebody .title h1 span,
	.popular_items_div .price1,
	.bigtitle .last span,
	.twitter_widget .lead:before,
	.twitter_widget .details a,
	.product-content .price1-new,
	.breadcrumb a,
	.highlight,
	.testimonial_widget .lead:after,
	.testimonial_widget .lead:before,
	.tp-caption.pacifico2 span,
	.testimonial_widget .details,
	.tp-caption.pacifico3 span,
	.tp-caption.small_thin_grey1 span,
	.darkwrapper h1 span,
	.center-title span,
	.price-detail,
	.rating i,
	.featureslist li:before,
	.check li:before,
	.product_details li:before,
	a.readmore,
	.service-box .serviceicon i,
	.pricing-box:hover div.price,
	.servicesbox .serviceicon,
	.copyright1 a:hover,
	.copyright1 a:focus,
	.tp-caption.big_title,
	.navbar-default .navbar-nav > .open > a,
	.navbar-default .navbar-nav > .open > a:hover,
	.navbar-default .navbar-nav > .open > a:focus,
	.navbar-default .navbar-nav > .active > a, 
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus,
	#defaultmenu .navbar-nav li a:hover,
	.callus span,
	.social a:hover,
	.panel-default > .panel-heading:hover a, 
	.panel-default > .panel-heading:hover .panel-title:after,
	.footer1 i:hover,
	.searchicon:before,
	.serviceslist .service-icon a i,
	.serviceslist .servicesbox .serviceicon i,
	.portfolio-filter a:hover,
	.portfolio-filter a:focus,
	.testimonial_meta span,
	.testimonial_meta i,
	.custom-box .serviceicon i,
	.footer-social li i,
	.custom-box .diamondicon i,
	a {
		color:#21C2F8;
	}
	
	div.bbp-template-notice, div.indicator-hint,
	#bbpress-forums li.bbp-body ul.forum li.bbp-forum-topic-count:hover,
	#bbpress-forums li.bbp-body ul.forum li.bbp-forum-reply-count:hover,
	.bs-glyphicons li:hover,
	.onsale,
	.volume:hover,
	.tagcloud a:hover,
	.servicesbox .serviceicon:hover,
	.cs-style-3 figcaption a.addtocart,
	.cs-style-3 figcaption a.zoom,
	.cs-style-3 figcaption  a.external,
	.pagination > .active > a, 
	.pagination > .active > span, 
	.pagination > .active > a:hover, 
	.pagination > .active > span:hover, 
	.pagination > .active > a:focus, 
	.pagination > li > a:hover,
	.pagination > li > span:hover,
	.pagination > li > a:focus,
	.pagination > li > span:focus,
	.footer-social li:hover,
	.pagination > .active > span:focus,
	.service-square-icon,
	.pricing-box:hover,
	.pager li > a, .pager li > span,
	div.price,
	.service-box .serviceicon:hover,
	.custom-box:hover .serviceicon,
	.progress-bar,
	.greybg .serviceslist .service-icon .serviceicon:hover,
	.service-icon .serviceicon:hover,
	.hovicon.effect-1.sub-a:hover,
	.hovicon.effect-1.sub-a:hover i,
	.hovicon.effect-1,
	.hovicon.effect-1.sub-a:hover,
	.flex-direction-nav a,
	.miniicon,
	mark,
	div.bbp-template-notice.info,
	.flex-control-paging li a.flex-active,
	.portfolio-filter li a:before,
	.btn-primary,
	.twitter-widget ul li:hover:before,
	.owl-theme .owl-controls .owl-page.active span,
	.owl-theme .owl-controls.clickable .owl-page:hover span,
	.testimonial_details:hover,
	.nav-tabs > li > a:hover,
	.custom-box:hover .diamondicon {
		background-color:#21C2F8;
	}
	
	.bigtitle h1:after,
	.footer-social li,
	.serviceicon:hover,
	.custom-box:hover,
	.custom-box:hover .serviceicon,
	.serviceslist .service-icon .serviceicon,
	.post-wrapper-top h2,
	.form-control:focus,
	.btn-primary:hover,
	.btn-primary:focus,
	.btn-primary:active,
	.flickr-gallery li:hover,
	.panel-default > .panel-heading:hover,
	.twitter-widget ul li:before,
	.owl-theme .owl-controls .owl-page.active span,
	.owl-theme .owl-controls.clickable .owl-page:hover span,
	div.bbp-template-notice.info,
	div.bbp-template-notice, div.indicator-hint,
	.tagcloud a:hover,
	.flex-control-paging li a,
	.flex-control-paging li a.flex-active,
	.tp-bullets.simplebullets .bullet:hover,
	.tp-bullets.simplebullets .bullet.selected,
	.btn-primary {
		border-color:#21C2F8;
	}

	.miniicon:after,
	.title1 hr:after,
	.title hr:after,
	.nav .open > a:after,
	.nav .open > a:hover:after,
	.nav .open > a:focus:after,
	.navbar-default .navbar-nav > .active > a:hover:after, 
	.navbar-default .navbar-nav > .active > a:focus:after,
	.navbar-nav > li > a:focus:after,
	.navbar-nav > li > a:hover:after {
		border-top-color: #21C2F8;
	}

	.dmtop {
		background-color:#21C2F8 !important;
	}
	
	#onepage .tp-bannertimer{
		background:rgba(33,194,248,0.8) !important;
	}
	
	.jtbtn-big2 {
		color:#21C2F8 !important;
	}
		
	.miniicon:before {
		border-bottom-color:#21C2F8;
	}
	
	.hovicon.effect-1:after {
		box-shadow: 0 0 0 4px #21C2F8;
	}

	.jtbtn-big {
	  border:1px solid #21C2F8;
	}
	
	.btn-primary:hover,
	.btn-primary:focus,
	.btn-primary:active {
		background-color:#11B2E8;
	}		

/*css*/
.about_width{
width:75%;
padding-top: 50px;
 margin: 0 auto;
}
#about-parallax .overlay{
padding-top:0px ;
}

.parallax p{
color: #D3F0FF;


}
#credentials{}


.css_right{}
.css_right ul li{}

.bigimg img{}
.copy_right{ font-size: 11px;
    text-align: center;}

.wpcf7-not-valid-tip{color: #21C2F8;
    font-size: 11px;}
	
	.current_page_item a{border-top: 2px solid #21C2F8 !important;
    color: #21C2F8 !important;}
	
	
.screen-reader-response{ padding-top: 25px;color: #D50606; }
.wpcf7-form{padding-top: 25px;}
.screen-reader-response ul li{margin-left: 25px;}
.entry-content .wpcf7-not-valid-tip {
    color: #D50606;
    font-size: 13px;
}
#wpcf7-f168-p150-o1 p{margin-bottom:0;}
.wpcf7-validation-errors{ color: #D50606; color: #D50606;padding-top: 15px;
    
    font-size: 13px;}
	
	.textwidget .wpcf7-form,.textwidget .screen-reader-response{padding-top:0;}
	
	
	.logo img{width: 220px;
    padding-top: 6px;}


    .floatL{
    	float: left;
    	margin-right: 30px;
    }

    .descipt{
    	margin-right: 0 !important;
    width: 275px;
    }
.acf-map {
	width: 100%;
	height: 400px;
	border: #ccc solid 1px;
	margin: 20px 0;
}

    .googlemap{
    	
    }