.demo_changer{ 
    z-index: 900; 
    position: fixed;
    left: -180px;
    top: 100px; 
}

.demo_changer .btn{ 
  margin-top:20px;
}
.demo_changer .img-swit{ 
    width: 140px;
    margin-bottom: 10px;
}

.demo_changer .img-thumbnail {padding:4px;margin-bottom:4px;}

.line {
    border-bottom: 1px solid #efefef;
    clear: both;
    margin: 10px !important;
}

.demo_changer .demo-icon{
    background: url(../images/color.png) no-repeat scroll 4px 0 #fff;
    cursor: pointer;
    float: right;
    height: 40px;
    width: 40px;
	border-top:1px solid #efefef;
	border-right:1px solid #efefef;
	border-bottom:1px solid #efefef;
	border-left:1px solid #ffffff;
}

.demo_changer .form_holder p {
    font-size: 12px;
    padding: 0 10px;
	margin-bottom:10px;
    font-weight: Bold;
    color: #292723;
}

.demo_changer .form_holder {
	background: #fff;
    float: right;
	border-top:1px solid #efefef;
	border-right:1px solid #efefef;
	border-bottom:1px solid #efefef;
	text-align:center;
    width: 178px;
}

.demo_changer .form_holder p{
    padding:0 20px;
    font-size: 11px;
}

.demo_changer .form_holder input{
    width: 55px;
	border-radius: 0 10px 10px 0;
	box-shadow: none;
}

.demo_changer .form_holder form{
    padding: 0 20px;
}

.color_display_2 {
   clear: both;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
	width:31px !important;
	height:31px;
    margin-bottom: 7px;
    padding: 4px 10px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);
}

.color_display_2 a{
    color: #fff;
    text-decoration: none;
}

.color_display_2 a:focus,
.color_display_2 a:hover {
    color: #ededed !important;
    text-decoration: none;
}


.predefined_styles{
    padding:0 20px;
}



@media only screen and (max-width: 1024px) {
.demo_changer{
    display: none;
}
} 



