.fhmm .dropdown a,.fhmm .dropdown-menu a
{
	color: #292723;
	moz-transition: background-color .1s linear,color .1s linear;
	ms-transition: background-color .1s linear,color .1s linear;
	o-transition: background-color .1s linear,color .1s linear;
	transition: background-color .1s linear,color .1s linear;
	webkit-transition: background-color .1s linear,color .1s linear;
}
.fhmm .dropdown-menu>li
{
	border-bottom: 1px solid #f2f2f2;
}
.fhmm .dropdown-menu>li:last-child
{
	border-bottom: 0 solid #f2f2f2;
}
.fhmm .navbar-nav>li>.dropdown-menu
{
	margin-top: 36px;
}
.fhmm i
{
	color: #BFBFBF;
}
.fhmm .dropdown-menu
{
	border: 1px solid #efefef;
	box-shadow: none;
	padding: 0;
}
.fhmm .form-control
{
	border: 1px solid #efefef;
	margin-top: 10px;
}
.fhmm .btn
{
	margin: 10px 0 20px;
}
.fhmm video
{
	height: auto;
	max-width: 100%;
}
.fhmm embed,.fhmm iframe,.fhmm object
{
	max-width: 100%;
}
.fhmm .google-map
{
	border: 1px solid rgba(255,255,255,.5);
	min-height: 200px;
	width: 100%;
}
.fhmm div.google-map
{
	background: #fff;
	background: rgba(255,255,255,.5);
	height: 200px;
	margin: 0;
	width: 100%;
}
#googlemaps img
{
	max-width: none;
}
.fhmm .dropdown-menu .withoutdesc
{
	background: url(../images/menubg.png) bottom right no-repeat;
	display: block;
	margin-top: 0;
	padding: 15px 20px;
	text-align: left;
	text-transform: none;
	width: 100%;
}
.fhmm .dropdown-menu .withoutdesc ul
{
	margin: 0;
}
.fhmm a:hover
{
	text-decoration: none;
}
.fhmm .dropdown-menu .withoutdesc ul li
{
	padding: 4px 0 5px 3px;
}
.fhmm p
{
	color: #292723;
	font-size: 13px;
	font-weight: 300;
}
.fhmm .dropdown-menu .withoutdesc ul li a
{
	clear: both;
	color: #292723;
	display: block;
	font-size: 13px;
	font-weight: 300;
	line-height: 1.42857;
	white-space: nowrap;
}
.fhmm .dropdown-menu .withoutdesc li:last-child
{
	border-bottom: 0 solid #fff;
}
.fhmm .fhmm-content.withdesc a:after
{
	color: #CFCFCF;
	content: attr(data-description);
	display: block;
	font-size: 11px;
	font-weight: 400;
	line-height: 0;
	margin: 10px 0 15px;
	text-transform: uppercase;
}
.fhmm .dropdown-submenu
{
	position: relative !important;
}
.fhmm .dropdown-submenu>.dropdown-menu
{
	left: 100%;
	margin-left: -1px;
	margin-top: 0;
	top: 0;
}
.fhmm .dropdown-submenu:hover>.dropdown-menu
{
	display: block;
}
.fhmm .dropdown-submenu>a:after
{
	border-color: transparent;
	border-left-color: #ccc;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	content: " ";
	display: block;
	float: right;
	height: 0;
	margin-right: -10px;
	margin-top: 5px;
	width: 0;
}
.fhmm .dropdown-submenu:hover>a:after
{
	border-left-color: #fff;
}
.fhmm .dropdown-submenu.pull-left
{
	float: none;
}
.fhmm .dropdown-submenu.pull-left>.dropdown-menu
{
	border-radius: 6px 0 6px 6px;
	left: -100%;
	margin-left: 10px;
	moz-border-radius: 6px 0 6px 6px;
	webkit-border-radius: 6px 0 6px 6px;
}
.fhmm .collapse,.fhmm .dropdown,.fhmm .dropup,.fhmm .nav
{
	position: static;
}
.fhmm .half
{
	left: auto!important;
	right: auto!important;
	width: 50%;
}
.fhmm .container
{
	position: relative;
}
.fhmm .dropdown-menu
{
	left: auto;
}
.fhmm .nav.navbar-right .dropdown-menu
{
	left: auto;
	right: 0;
}
.fhmm .fhmm-content
{
	padding: 15px 25px;
}
.fhmm .dropdown.fhmm-fw .dropdown-menu
{
	left: 0;
	right: 0;
}
.fhmm .title
{
	border-bottom: 0 solid #efefef;
	font-size: 13px;
	font-weight: 700;
	margin: 15px 0 10px;
	padding-bottom: 0;
	text-transform: uppercase;
}
.fhmm ul
{
	list-style: none;
	padding-left: 0;
}
.navbar
{
	margin-top: 33px;
}
.header.affix
{
	background: #fff;
	background: rgba(255,255,255,1);
	border-bottom: 1px solid #efefef;
	left: 0;
	margin-top: 0;
	min-height: inherit;
	padding: 10px 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}
.header.affix .navbar
{
	margin-top: 0;
}
.header.affix .navbar-nav>li>.dropdown-menu
{
	margin-top: 12px!important;
}
.header.affix .logo img
{
	width: 80%;
}
.header.affix .logo
{
	line-height: 38px;
}
.navbar-nav>li>a
{
	border-top: 2px solid #FFF;
	color: #292723;
	font-size: 13px;
	font-weight: 400;
	margin: 0 3px;
	padding: 8px 15px;
	text-decoration: none;
}
.navbar-default
{
	background: #fff;
	border: 0 solid #fff;
	box-shadow: 0 0 0 rgba(0,0,0,.065);
	webkit-box-shadow: 0 0 0 rgba(0,0,0,.065);
}
.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover
{
	background: #fff!important;
}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover
{
	background: #fff;
}
.navbar
{
	margin-bottom: 0;
}
.navbar-collapse
{
	padding: 0 0 0 15px;
}
.dropdown-menu
{
	background-clip: padding-box;
	background-color: #fff;
	border: 1px solid #efefef;
	border: 1px solid rgba(0,0,0,.05);
	box-shadow: 0 0 0 rgba(0,0,0,.175);
	display: none;
	float: left;
	font-size: 13px;
	left: 0;
	list-style: none;
	margin: 5px 0 0;
	min-width: 160px;
	padding: 0;
	position: absolute;
	top: 100%;
	webkit-box-shadow: 0 0 0 rgba(0,0,0,.175);
	z-index: 1000;
}
.dropdown-menu>li>a
{
	clear: both;
	color: #292723;
	display: block;
	font-size: 13px;
	font-weight: 300;
	line-height: 1.42857;
	padding: 8px 15px;
	white-space: nowrap;
}
.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover
{
	background-color: #f5f5f5;
	color: #fff;
	text-decoration: none;
}
.navbar-nav>li>.dropdown-menu
{
	margin-top: 3px;
}
.navbar-nav>li>a:after
{
	background: 0 0;
	content: attr(data-hover);
	display: block;
	height: auto;
	left: 0;
	margin: 0;
	max-width: 0;
	moz-transition: max-width .3s ease-in-out;
	ms-transition: max-width .3s ease-in-out;
	outline: 0;
	overflow: hidden;
	position: absolute;
	transition: max-width .3s ease-in-out;
	webkit-transition: max-width .3s ease-in-out;
}
.navbar-nav>li>a:hover:after
{
	max-width: 100%;
}
.nav .open>a,.nav .open>a:focus,.nav .open>a:hover,.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover,.navbar-nav>li>a:focus,.navbar-nav>li>a:hover
{
	border-top: 2px solid #fff;
	position: relative;
}
.nav .open>a:after,
.nav .open>a:focus:after,
.nav .open>a:hover:after,
.navbar-default .navbar-nav>.active>a:focus:after,
.navbar-default .navbar-nav>.active>a:hover:after,
.navbar-nav>li>a:focus:after
,.navbar-nav>li>a:hover:after
{
	border-top: 2px solid #111;
	left: 0;
	position: absolute;
	right: 0;
	top: -2px;
}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>a,.navbar-default .navbar-nav>a:focus,.navbar-default .navbar-nav>a:hover,.navbar-nav>li>a:focus,.navbar-nav>li>a:hover
{
	top: 0;
}
.navbar-blue
{
	background: #00a4db;
	background-color: #00a4db;
	background-image: linear-gradient(to bottom,#00a4db 0,#007acc 100%);
	background-image: -moz-linear-gradient(top,#00a4db 0,#007acc 100%);
	background-image: -webkit-gradient(linear,left 0,left 100%,from(#00a4db),to(#007acc));
	background-image: -webkit-linear-gradient(top,#00a4db,0,#007acc,100%);
	background-repeat: repeat-x;
	border-color: #007acc;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.navbar-blue .navbar-nav>.active>a,.navbar-blue .navbar-nav>.active>a:focus,.navbar-blue .navbar-nav>.active>a:hover,.navbar-blue .navbar-nav>.disabled>a,.navbar-blue .navbar-nav>.disabled>a:focus,.navbar-blue .navbar-nav>.disabled>a:hover,.navbar-blue .navbar-nav>.open>a,.navbar-blue .navbar-nav>.open>a:focus,.navbar-blue .navbar-nav>.open>a:hover,.navbar-blue .navbar-nav>li>a:focus,.navbar-blue .navbar-nav>li>a:hover
{
	background-color: #007acc;
	color: #fff!important;
}
.navbar-blue .navbar-collapse,.navbar-blue .navbar-form
{
	border-color: #007acc;
}
.navbar-blue .navbar-brand i,.navbar-blue .navbar-brand:focus,.navbar-blue .navbar-brand:hover,.navbar-blue a
{
	color: #fff;
}
.navbar-blue .navbar-brand,.navbar-blue .navbar-link,.navbar-blue .navbar-nav>li>a,.navbar-blue .navbar-text
{
	color: #eee;
}
.navbar-blue .navbar-toggle
{
	border-color: #eee;
}
.navbar-blue .navbar-toggle:focus,.navbar-blue .navbar-toggle:hover
{
	background-color: #007acc;
}
.navbar-blue .navbar-toggle .icon-bar
{
	background-color: #eee;
}
.navbar-blue .navbar-nav>.dropdown>a:hover .caret
{
	border-bottom-color: #fff;
	border-top-color: #fff;
}
.navbar-blue .navbar-nav>.dropdown>a .caret
{
	border-bottom-color: #eee;
	border-top-color: #eee;
}
.navbar-blue .navbar-nav>.open>a .caret,.navbar-blue .navbar-nav>.open>a:focus .caret,.navbar-blue .navbar-nav>.open>a:hover .caret
{
	border-bottom-color: #fff;
	border-top-color: #fff;
}
@media (max-width:767px)
{
	.navbar-blue .navbar-nav .open .dropdown-menu>.dropdown-header
	{
		border-color: #007acc;
	}
	.navbar-blue .dropdown a,.navbar-blue .dropdown-menu a,.navbar-blue .navbar-nav .open .dropdown-menu>li>a,.navbar-blue .title,.navbar-blue p
	{
		color: #fff;
	}
	.navbar-blue .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-blue .navbar-nav .open .dropdown-menu>li>a:hover
	{
		background-color: transparent;
		color: #fff;
	}
	.navbar-blue .navbar-nav .open .dropdown-menu>.active>a,.navbar-blue .navbar-nav .open .dropdown-menu>.active>a:focus,.navbar-blue .navbar-nav .open .dropdown-menu>.active>a:hover
	{
		background-color: #007acc!important;
		color: #fff!important;
	}
	.navbar-blue .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-blue .navbar-nav .open .dropdown-menu>.disabled>a:focus,.navbar-blue .navbar-nav .open .dropdown-menu>.disabled>a:hover
	{
		background-color: #007acc;
		color: #fff;
	}
}
.navbar-red
{
	background: #ff4a45;
	background-color: #ff4a45;
	background-image: linear-gradient(to bottom,#ff4a45 0,#bd0000 100%);
	background-image: -moz-linear-gradient(top,#ff4a45 0,#bd0000 100%);
	background-image: -webkit-gradient(linear,left 0,left 100%,from(#ff4a45),to(#bd0000));
	background-image: -webkit-linear-gradient(top,#ff4a45,0,#bd0000,100%);
	background-repeat: repeat-x;
	border-color: #bd0000;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.navbar-red .navbar-nav>.active>a,.navbar-red .navbar-nav>.active>a:focus,.navbar-red .navbar-nav>.active>a:hover,.navbar-red .navbar-nav>.disabled>a,.navbar-red .navbar-nav>.disabled>a:focus,.navbar-red .navbar-nav>.disabled>a:hover,.navbar-red .navbar-nav>.open>a,.navbar-red .navbar-nav>.open>a:focus,.navbar-red .navbar-nav>.open>a:hover,.navbar-red .navbar-nav>li>a:focus,.navbar-red .navbar-nav>li>a:hover
{
	background-color: #710000;
	color: #fff!important;
}
.navbar-red .navbar-collapse,.navbar-red .navbar-form
{
	border-color: #710000;
}
.navbar-red .navbar-brand i,.navbar-red .navbar-brand:focus,.navbar-red .navbar-brand:hover,.navbar-red a
{
	color: #fff;
}
.navbar-red .navbar-brand,.navbar-red .navbar-link,.navbar-red .navbar-nav>li>a,.navbar-red .navbar-text
{
	color: #eee;
}
.navbar-red .navbar-toggle
{
	border-color: #eee;
}
.navbar-red .navbar-toggle:focus,.navbar-red .navbar-toggle:hover
{
	background-color: #710000;
}
.navbar-red .navbar-toggle .icon-bar
{
	background-color: #eee;
}
.navbar-red .navbar-nav>.dropdown>a:hover .caret
{
	border-bottom-color: #fff;
	border-top-color: #fff;
}
.navbar-red .navbar-nav>.dropdown>a .caret
{
	border-bottom-color: #eee;
	border-top-color: #eee;
}
.navbar-red .navbar-nav>.open>a .caret,.navbar-red .navbar-nav>.open>a:focus .caret,.navbar-red .navbar-nav>.open>a:hover .caret
{
	border-bottom-color: #fff;
	border-top-color: #fff;
}
@media (max-width:767px)
{
	.navbar-red .navbar-nav .open .dropdown-menu>.dropdown-header
	{
		border-color: #710000;
	}
	.navbar-red .dropdown a,.navbar-red .dropdown-menu a,.navbar-red .navbar-nav .open .dropdown-menu>li>a,.navbar-red .title,.navbar-red p
	{
		color: #fff;
	}
	.navbar-red .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-red .navbar-nav .open .dropdown-menu>li>a:hover
	{
		background-color: transparent;
		color: #fff;
	}
	.navbar-red .dropdown-menu .withoutdesc ul li:focus,.navbar-red .dropdown-menu .withoutdesc ul li:hover,.navbar-red .navbar-nav .open .dropdown-menu>.active>a,.navbar-red .navbar-nav .open .dropdown-menu>.active>a:focus,.navbar-red .navbar-nav .open .dropdown-menu>.active>a:hover
	{
		background-color: #710000!important;
		color: #fff!important;
	}
	.navbar-red .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-red .navbar-nav .open .dropdown-menu>.disabled>a:focus,.navbar-red .navbar-nav .open .dropdown-menu>.disabled>a:hover
	{
		background-color: #710000;
		color: #fff;
	}
}
.navbar-orange
{
	background-image: linear-gradient(to bottom,#fbbf50 0,#f09c00 100%);
	background-image: -moz-linear-gradient(top,#fbbf50 0,#f09c00 100%);
	background-image: -webkit-gradient(linear,left 0,left 100%,from(#fbbf50),to(#f09c00));
	background-image: -webkit-linear-gradient(top,#fbbf50,0,#f09c00,100%);
	background-repeat: repeat-x;
	border-color: #f09c00;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbbf50', endColorstr='#fff09c00', GradientType=0);
}
.navbar-orange .navbar-nav>.active>a,.navbar-orange .navbar-nav>.active>a:focus,.navbar-orange .navbar-nav>.active>a:hover,.navbar-orange .navbar-nav>.disabled>a,.navbar-orange .navbar-nav>.disabled>a:focus,.navbar-orange .navbar-nav>.disabled>a:hover,.navbar-orange .navbar-nav>.open>a,.navbar-orange .navbar-nav>.open>a:focus,.navbar-orange .navbar-nav>.open>a:hover,.navbar-orange .navbar-nav>li>a:focus,.navbar-orange .navbar-nav>li>a:hover
{
	background-color: #f09c00;
	color: #fff!important;
}
.navbar-orange .navbar-collapse,.navbar-orange .navbar-form
{
	border-color: #f09c00;
}
.navbar-orange .navbar-brand i,.navbar-orange .navbar-brand:focus,.navbar-orange .navbar-brand:hover,.navbar-orange a
{
	color: #fff;
}
.navbar-orange .navbar-brand,.navbar-orange .navbar-link,.navbar-orange .navbar-nav>li>a,.navbar-orange .navbar-text
{
	color: #eee;
}
.navbar-orange .navbar-toggle
{
	border-color: #eee;
}
.navbar-orange .navbar-toggle:focus,.navbar-orange .navbar-toggle:hover
{
	background-color: #f09c00;
}
.navbar-orange .navbar-toggle .icon-bar
{
	background-color: #eee;
}
.navbar-orange .navbar-nav>.dropdown>a:hover .caret
{
	border-bottom-color: #fff;
	border-top-color: #fff;
}
.navbar-orange .navbar-nav>.dropdown>a .caret
{
	border-bottom-color: #eee;
	border-top-color: #eee;
}
.navbar-orange .navbar-nav>.open>a .caret,.navbar-orange .navbar-nav>.open>a:focus .caret,.navbar-orange .navbar-nav>.open>a:hover .caret
{
	border-bottom-color: #fff;
	border-top-color: #fff;
}
@media (max-width:767px)
{
	.navbar-orange .navbar-nav .open .dropdown-menu>.dropdown-header
	{
		border-color: #f09c00;
	}
	.navbar-orange .dropdown a,.navbar-orange .dropdown-menu a,.navbar-orange .navbar-nav .open .dropdown-menu>li>a,.navbar-orange .title,.navbar-orange p
	{
		color: #fff;
	}
	.navbar-orange .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-orange .navbar-nav .open .dropdown-menu>li>a:hover
	{
		background-color: transparent;
		color: #fff;
	}
	.navbar-orange .dropdown-menu .withoutdesc ul li:focus,.navbar-orange .dropdown-menu .withoutdesc ul li:hover,.navbar-orange .navbar-nav .open .dropdown-menu>.active>a,.navbar-orange .navbar-nav .open .dropdown-menu>.active>a:focus,.navbar-orange .navbar-nav .open .dropdown-menu>.active>a:hover
	{
		background-color: #f09c00!important;
		color: #fff!important;
	}
	.navbar-orange .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-orange .navbar-nav .open .dropdown-menu>.disabled>a:focus,.navbar-orange .navbar-nav .open .dropdown-menu>.disabled>a:hover
	{
		background-color: #f09c00;
		color: #fff;
	}
}
.navbar-green
{
	background: #75d428;
	background-color: #75d428;
	background-image: linear-gradient(to bottom,#75d428 0,#4ead00 100%);
	background-image: -moz-linear-gradient(top,#75d428 0,#4ead00 100%);
	background-image: -webkit-gradient(linear,left 0,left 100%,from(#75d428),to(#4ead00));
	background-image: -webkit-linear-gradient(top,#75d428,0,#4ead00,100%);
	background-repeat: repeat-x;
	border-color: #4ead00;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.navbar-green .navbar-nav>.active>a,.navbar-green .navbar-nav>.active>a:focus,.navbar-green .navbar-nav>.active>a:hover,.navbar-green .navbar-nav>.disabled>a,.navbar-green .navbar-nav>.disabled>a:focus,.navbar-green .navbar-nav>.disabled>a:hover,.navbar-green .navbar-nav>.open>a,.navbar-green .navbar-nav>.open>a:focus,.navbar-green .navbar-nav>.open>a:hover,.navbar-green .navbar-nav>li>a:focus,.navbar-green .navbar-nav>li>a:hover
{
	background-color: #2c6100;
	color: #fff!important;
}
.navbar-green .navbar-collapse,.navbar-green .navbar-form
{
	border-color: #2c6100;
}
.navbar-green .navbar-brand i,.navbar-green .navbar-brand:focus,.navbar-green .navbar-brand:hover,.navbar-green a
{
	color: #fff;
}
.navbar-green .navbar-brand,.navbar-green .navbar-link,.navbar-green .navbar-nav>li>a,.navbar-green .navbar-text
{
	color: #eee;
}
.navbar-green .navbar-toggle
{
	border-color: #eee;
}
.navbar-green .navbar-toggle:focus,.navbar-green .navbar-toggle:hover
{
	background-color: #2c6100;
}
.navbar-green .navbar-toggle .icon-bar
{
	background-color: #eee;
}
.navbar-green .navbar-nav>.dropdown>a:hover .caret
{
	border-bottom-color: #fff;
	border-top-color: #fff;
}
.navbar-green .navbar-nav>.dropdown>a .caret
{
	border-bottom-color: #eee;
	border-top-color: #eee;
}
.navbar-green .navbar-nav>.open>a .caret,.navbar-green .navbar-nav>.open>a:focus .caret,.navbar-green .navbar-nav>.open>a:hover .caret
{
	border-bottom-color: #fff;
	border-top-color: #fff;
}
@media (max-width:767px)
{
	.navbar-green .navbar-nav .open .dropdown-menu>.dropdown-header
	{
		border-color: #2c6100;
	}
	.navbar-green .dropdown a,.navbar-green .dropdown-menu a,.navbar-green .navbar-nav .open .dropdown-menu>li>a,.navbar-green .title,.navbar-green p
	{
		color: #fff;
	}
	.navbar-green .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-green .navbar-nav .open .dropdown-menu>li>a:hover
	{
		background-color: transparent;
		color: #fff;
	}
	.navbar-green .dropdown-menu .withoutdesc ul li:focus,.navbar-green .dropdown-menu .withoutdesc ul li:hover,.navbar-green .navbar-nav .open .dropdown-menu>.active>a,.navbar-green .navbar-nav .open .dropdown-menu>.active>a:focus,.navbar-green .navbar-nav .open .dropdown-menu>.active>a:hover
	{
		background-color: #2c6100!important;
		color: #fff!important;
	}
	.navbar-green .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-green .navbar-nav .open .dropdown-menu>.disabled>a:focus,.navbar-green .navbar-nav .open .dropdown-menu>.disabled>a:hover
	{
		background-color: #2c6100;
		color: #fff;
	}
}